$screen-mobile: 320px;
$screen-tablet: 768px;
$screen-monitor: 1120px;
$screen-full: 1440px;
$color-body-container: #f8f8f8;
$color-radius-bottom: #ff3e79;
$color-white: #fff;
$color-lite-gray: #eaeaea;
$color-lite-blue: #d9fff5;
$color-hard-gray: #7e7e82;
$color-black: black;
$color-pseudo-element: #41f6d7;
$color-shadow: #0e185033;
$color-swiper-pagination1: #b5b6bc;
$color-swiper-pagination2: #dddddd;

$family-bold: 'TT Lakes black', serif, 'Times New Roman', Times, serif;
$family-middle: 'TT Lakes medium', serif, 'Times New Roman', Times, serif;
$family-normal: 'TT Lakes', serif, 'Times New Roman', Times, serif;
